.body {
    background-color: rgba(var(--bg-color));
    top: 0;
    right: 0;
    margin-left: 10px;
    height: 70px;
    left: 19%;
    position: fixed;
    padding-left: 59px;
    z-index: 4;

    .header {
        display: flex;
        margin-top: 15px;

    }

    .icon {
        height: 400px;
        width: 200px;
        margin-left: 170px;
        animation: example 1.5s 10;
    }

    @keyframes example {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    button {
        border: none;
        background-color: #2e4158;
        color: var(--color);
        cursor: pointer;
        font-size: 20px;
        margin-top: 3px;
        margin-left: 10px;

        :hover {
            opacity: 0.8;
        }
    }

    .btnIcon {
        font-size: 24px;
        margin-right: 20px;
        color: rgb(255, 255, 255, 0.5);
        line-height: 66%;

        margin-top:
            9px;
        background-color: rgba(var(--bg-color));


        :hover {
            color: white;
            opacity: 0.8;
        }
    }
}

@media screen and (max-width : 70em) {
    .body {
        left: 60px;

        .lever-right {
            margin-left: 50px;
        }
    }
}

@media screen and (max-width : 48em) {
    .body {
        .lever-right {
            display: none;
        }
    }
}

.wapper {
    z-index: 3;
    position: relative;
    width: 40vw;
    height: auto;
    margin-top: -10px;
    background-color: #2e4158;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.input {
    position: relative;
    height: 40px;
    background-color: #2e4158;
    width: 40vw;
    border-radius: 20px;


    &:focus-within {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

    }


    input {
        color: var(--color);
        outline: none;
        width: 70%;
        display: inline-block;
        padding: 5px 0;
        height: 33px;
        margin-top: 4.5px;
        border: none;
        font-size: 14px;
        margin-left: 4px;
        background-color: transparent;
        position: absolute;
    }

    .box {
        color: red
    }

    span {
        color: #dadada;
        cursor: pointer;
        font-size: 20px;
        margin-top: 5px;
        margin-left: 10px;

        :hover {
            opacity: 0.8;
        }
    }

    ::placeholder {
        color: #fff;
        opacity: 0.8;
        color: inherit;
    }


    .iconclear {
        float: right;
        margin-right: 20px;
    }
}

.lever-right {
    margin-top: -3px;
    display: flex;
    width: 210px;
    height: 40px;
    margin-left: 12%;

    button {
        height: 39px;
        width: 40px;
        border-radius: 999px;
        background-color: #2e4158;
        margin-left: 12px;


        :hover {
            opacity: 0.9;
        }


    }
}

.content {
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
    overflow-y: scroll;

    div {
        min-height: 37px;
    }

    div:hover {
        background-color: hsla(0, 0%, 100%, 0.1);
    }

    span {
        height: 37px;
    }

    height: 500px;

    a {
        text-decoration: none;
        color: var(--color)
    }
}

::-webkit-scrollbar {

    background-color: #2F4157;
    border-radius: 10px;
}